form{
    width: 960px;
    border: solid 1px;
    padding: 10px;
    margin-left: 20px;
    font-size: 20px;
    margin-left: 400px;
    text-align: center;
    margin-bottom: 100px;
}
input{
    width: 790px;
    margin: 2% ;
    padding: 16px 12px;
}
button{
    padding: 6px 10px;
    width: 84%;
    height: 40px;
    border: none;
    background-color: rgb(235, 74, 208);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-left:10px;
    font-size: 20px;
    margin-bottom: 50px;
}


